*{
  margin: 0;
}
div{
  border: 1px solid black;
  font-family: 'Rajdhani', sans-serif;
}
/* HEADER */
.nav {
  display: flex;
  background-color: #252525;
  height: 10vh;
  width: 100%;
}
.nav-logo {
  width: 60%; 
  background-image: url(../img/cascos_alo.png);
  background-repeat: no-repeat;
  background-position: 15% 50%;
  background-size: 5rem;
}
.nav-links {
  display: flex;
  color: white;
  width: 40%;
}
.links-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  box-shadow: inset 0 0 0 0 #252525;
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  transition: all ease 0.8s;
}
.links-item:last-child {
  color: #FF0000;
}
.links-item:hover {
  background-color: #FF0000;
  color: #252525;
  box-shadow: inset 0 100% 0 0 #FF0000;
}
/*MAIN*/
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-wrap: nowrap;
  width: 90%;
  background-color: #c41f1f;
}
.item {
  width: 50%;
  height: 90vh;
}
.item:first-child {
  width: 80%;
}
.title {
  height: 10vh;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c41f1f;
}
.presentation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 70vh;
  background-color: #c41f1f;
}
.presentation-item {
  width: 30%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white
  ;
  background-color: #252525;
}
.description {
  width: 90%;
}
/*FOOTER*/
.footer {
  display: flex;
  height: 20vh;
  background-color: #414141;
  color: white;
}
.footer-logo {
  width: 20%;
  background-image: url(../img/cascos_alo.png);
  background-position: 25%;
  background-size: 10rem;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.footer-links {
  display: flex;
  flex-direction: row;
  width: 40%;
  justify-content: center;
  align-items: center;
}
.links-foot {
  width: 33.3%;
}
.social {
  display: flex;
  flex-direction: row;
  width: 40%;
  justify-content: center;
  align-items: center;
}
.social-links {
  width: 33.3%;
}